<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.ffremont.jrobot" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>